*{
    box-sizing:border-box;
}

body{
    margin: 0;
    padding: 0;
}

.head{
    background-color: #3a9bc8;
}

.head-container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
    max-width: 1200px;
}

.head-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.head-info{
    padding: 20px;
    color: #f4fbfe;
    text-align: left;
    font-size: 25px;
    font-family: 'Open Sans';
    font-weight: 500;
}

.contact{
    padding: 10px 15px;
    border: 2px solid #f4fbfe;
    color: #f4fbfe;
    border-radius: 7px;
    text-decoration: none; 
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Open Sans';
    font-weight: 300;
}

.contact:hover{
    background-color: #f4fbfe40;
}

.foot{
    background-color: #242424;
}

.foot-container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
    max-width: 1200px;
}

.content{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: space-between;
}

.nav{
    padding: 25px;
    padding-top: 5px;
}

.heading{
    color: #f5fff9;
    border-bottom: 1px solid #536b78;
    font-size: 20px;
    padding-bottom:10px;
    text-align: left;
    width: fit-content;
    margin-bottom: 20px;
    font-family: 'Open Sans';
    font-weight: 400;
}

.nav-info{
    display: flex;
    flex-wrap: wrap;
}

.list-one,.list-two{
    list-style-type: none;
    margin-top: 0;
    padding: 5px;
    padding-top: 0;
}

.list-two{
    padding-left: 65px;
}

.icons{
    color: #929195;
}

.tag{
    text-decoration: none;
    color: #797979;
    font-family: 'Open sans';
    font-weight: 200;
    font-size: 13px;
    padding: 5px;
    line-height: 25px;
}

.tag:hover{
    color: #38599d;
}

.cont{
    padding: 25px;
    padding-top: 5px;
}

.loc,.phone,.mail{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.fa-map-marker,.fa-phone,.fa-envelope{
    font-size: 20px;
    padding-right: 10px;
}

.fa-phone{
    rotate: 360;
}

.con{
    line-height: 12px;
    padding-left: 0;
}

.detail{
    text-align: left;
    color: #686868;
    margin-top: 0;
    margin-bottom:5px;
    font-family: 'Open sans';
    font-weight: 200;
    font-size: 13px;
    padding-bottom: 10px;
    line-height: 17px;
}

.news{
    padding: 25px;
    padding-top: 5px;
}

.email{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 45px;
}

.email i{
    position: absolute;
}

.icon{
    padding: 9px;
    min-width: 35px;
}

.input{
    width: 70%;
    padding: 10px;
    padding-left: 40px;
    text-align: left;
    background-color: #353535;
    border: none;
    color: #a7a8aa;
    font-family: 'Open sans';
}

.blue-btn{
    width: 30%;
}

.btn{
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: #e5fdff;
    background-color: #399ac7;
    border: none;
    font-family: 'Open sans';
}

.btn:hover{
    opacity: 0.52;
}

.connect{
    display: flex;
}

.info{
    padding-left: 0;
    padding-top: 3px;
    padding-right: 15px;
    color: #c8ccc9;
    margin-top: 0;
}

.social{
    color: #f2fbfd;
    padding-right: 20px;
    font-size: 15px;
    border-radius: 50%;
    margin-right: 10px;
    height: 25px;
    width: 25px;
}

.fa-facebook{
    background: #38599d;
    padding: 19%;
}

.fa-twitter{
    background: #22a9d8;
    padding: 15%;
}

.fa-youtube{
    background: #c7302e;
    padding: 15%;
}

.fa-linkedin{
    background: #0f78a8;
    padding: 0.4em;
}

.media:hover{
    opacity: 0.76;
}

.bottom{
    background-color: #242424;
    border-top: 2px solid #2b2b2b;
}

.bottom-container{
    width: 100%;
    max-width: 1200px;
    margin-left: 32%;
    margin-right: 32%;
    padding-left: 10px;
    padding-right: 10px;
}

.below-info{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.copy{
    padding-right: 3px;
    padding-left: 10px;
    padding-top: 2px;
    font-size: 13px;   
}

@media screen and (max-width: 1200px) {         /*for 1024*/
    .loc{
        padding-bottom: 5px;
    }
    
    .email{
        margin-bottom: 30px;
    }

    .info{
        padding-right: 10px;
    }
    
    .social{
        margin-right: 5px;
    }
}

@media  screen and (max-width: 992px) {        /*for 768*/
    .head-info{
        padding-left: 5px;
        padding-top: 25px;
        font-size: 20px;
    }

    .contact,.heading{
        font-size: 15px;
    }

    .content{
        justify-content: left;
        padding: 15px;
    }

    .nav,.cont{
        padding: 10px;
        width: 32.3%;
    }

    .cont{
        padding-right: 5px;
        padding-left: 25px;
    }

    .list-two{
        padding-left: 40px;
    }

    .icons{
        font-size: 16px;
    }

    .con{
        line-height: 9px;
    }

    .detail,.tag{
        font-size: 11px;
    }

    .news{
        padding: 10px;
        padding-left: 5px;
        width: 35.2%;
    }

    .email{
        margin-bottom: 27px;
    }

    .info{
        font-size: 12.8px;
        padding-right: 7px;
    }

    .social{
        margin-right: 5px;
    }

    .fa-facebook{
        padding: 23%;
    }

    .fa-twitter{
        padding: 20%;
    }

    .fa-youtube{
        padding: 19%;
    }
}

@media screen and (max-width: 767px) {         /*for 568*/
    .head-info{
        padding-left: 5px;
        padding-top: 24px;
        font-size: 20px;
    }

    .heading{
        font-size: 17px;
    }

    .contact{
        padding: 5px 9px;
        font-size: 14px;
    }

    .content{
        justify-content: left;
        padding: 15px;
    }
    
    .nav,.cont{
        padding: 15px;
        width: 50%;
        padding-bottom: 5px;
    }

    .news{
        padding: 15px;
        width: 70%;
        padding-top: 5px;
    }

    .list-one{
        margin-bottom: 0;
    }

    .fa-facebook{
        padding: 23%;
    }

    .fa-twitter{
        padding: 20%;
    }

    .fa-youtube{
        padding: 18%;
    }

    .bottom-container{
        margin-left: 22%;
        margin-right: 22%;
        padding-left: 5px;
        padding-right: 5px;
    }

    .copy{
        padding-top: 1px;
    }
}

@media screen and (max-width: 567px) {         /*for 375*/
    .head-container,.foot-container{
        padding-right: 10px;
        padding-left: 10px;
    }

    .head-content{
        justify-content: left;
        padding-right: 10px;
        padding-left: 12px;
    }
    
    .head-info{
        font-size: 15px;
        padding-top: 28px;
        padding-right: 17px;
        padding-left: 10px;
    }

    .contact{
        font-size: 10px;
        padding: 5px 3px;
        width: 25%;
        border: 1px solid #f4fbfe;
    }

    .heading{
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .nav,.cont,.news{
        padding: 10px;
        width: 100%;
        padding-bottom: 3px;
    }

    .tag,.detail{
        font-size: 10px;
    }

    .icons{
        padding-top: 5px;
        font-size: 12.5px;
    }

    .detail{
        padding-bottom: 5px;
        margin-bottom: 3px;
    }

    .email{
        padding: 10px;
        padding-left: 0;
        margin-bottom: 15px;
    }

    .input,.btn{
        height: 24px;
        padding: 3px;
    }

    .input{
        padding-left: 27px;
        padding-top: 1px;
    }

    .social{
        font-size: 11px;
        height: 22px;
        width: 22px;
    }

    .fa-facebook{
        padding: 28%;
    }

    .fa-twitter{
        padding: 24%;
    }

    .fa-youtube{
        padding: 25%;
    }

    .fa-linkedin{
        padding: 26%;
    }

    .bottom-container{
        margin-left: 12%;
        margin-right: 12%;
        padding-left: 5px;
        padding-right: 5px;
    }

    .copy{
        padding-top: 2px;
    }
}